[submodule "backend"]
	path = backend
	url = https://github.com/your-username/TASTY_TREATS_BACKEND.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/your-username/TASTY_TREATS_FRONTEND.git
